<footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="/{{ site.baseurl }}"><img class="img-responsive center-block" src="assets/images/wigbranco.png" alt="" width="20%" ></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 </p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right"><a href="http://iagovelasco.github.io/">Iago Velasco</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/assets/js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="/assets/js/wow.min.js"></script>
  <script type="text/javascript" src="/assets/js/mousescroll.js"></script>
  <script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.countTo.js"></script>
  <script type="text/javascript" src="/assets/js/lightbox.min.js"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>