
  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(/assets/images/slider/1.png)">
          <div class="caption">
           <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
           <img class="teste" src="/assets/images/wigbranco.png" alt="" >
           </div>
          </div>
        </div>
        <div class="item" style="background-image: url(/assets/images/slider/2.png)">
          <div class="caption">
           <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
               <img src="/assets/images/wigbranco.png" alt="" >
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(/assets/images/slider/3.png)">
          <div class="caption">
             <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
                <img src="/assets/images/wigbranco.png" alt="" >
            </div>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/{{ site.baseurl }}">
            <h1><img class="img-logo" src="assets/images/wigbranco.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#services">Serviços</a></li> 
            <li class="scroll"><a href="#about-us">Sobre</a></li>                                 
            <li class="scroll"><a href="#team">Time</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->